# --- SERVER CONFIG ---
PORT=4000
NODE_ENV=development
# The URL of your Next.js Frontend (for CORS security)
CLIENT_URL=http://localhost:3000

# --- DATABASE (MongoDB Atlas) ---
# Format: mongodb+srv://<username>:<password>@cluster.mongodb.net/vantage_db
MONGO_URI=mongodb+srv://admin:YOUR_PASSWORD_HERE@cluster0.mongodb.net/vantage?retryWrites=true&w=majority

PAYSTACK_SECRET_KEY=sk_test_90e68e51f72155d46102
PAYSTACK_PUBLIC_KEY=pk_test_8b807bb8b93378be70d3db125e
PAYSTACK_BASE_URL=https:/22/api.paystack.co


# --- SECURITY (JWT) ---
# Generate a strong secret (e.g., use a random string generator)
JWT_SECRET=15d91bf58ad06709e3cfb831597cf5d6e27131777e7ec2715198ece285bfd036a292e2bfe0aa489f9e4517b0cc948a71d24de92a67159385a62a
JWT_EXPIRE=30d
COOKIE_EXPIRE=30

# --- FILE STORAGE (Cloudinary) ---
# Login to Cloudinary Dashboard to get these
CLOUDINARY_CLOUD_NAME=dthbjkc3m
CLOUDINARY_API_KEY=64559689228uhj28
CLOUDINARY_API_SECRET=qNdvAhjnmb82xIcTlqAWbqlCppvg

# --- EMAIL SERVICE (Nodemailer + Gmail) ---
# Use an "App Password" from Google Account Settings > Security > 2-Step Verification
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_EMAIL=uthmanabdullahi2020@gmail.com
SMTP_PASSWORD=rqdtjiadrzndfxgzf
FROM_EMAIL=uthmanabdullahi2020@gmail.com
FROM_NAME=Vantage Support

# --- GEOCODING (Optional - For Maps later) ---
GOOGLE_MAPS_API_KEY=your_key_here